@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black;
    box-sizing: border-box;
}


.content h1 {
    color:white;
    font-size: 50px;
}
header h1{
    height: 52px;
    font-family:"Angkor", serif;
    color:black
}
.content p {
    color:white;
    font-size: 25px;
}
header a{
    color:black;
    font-family: "Mukta", sans-serif;
    padding-left:3px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #95e8d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right:20px;
    height: 100px;
}
.links {
    display: flex;
    align-items: center;
}
.hero {
   padding-left: 5px;
   
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.hero img {
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 10px solid #95e8d7;
}
.content {
    margin:auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}
.content h1{
    font-family:"Angkor", serif;
}

@media (max-width:690px){
   
    .hero {
        
        padding-bottom: 70px;
    }
    .content {
        margin-top: 150px;
        display:flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:553px){
    .hero {
        padding-bottom:200px;
    }
}

/* ABOUT */
.about , .education , #projects{
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    border-top: 3px solid #95e8d7;
    
}
.about h1 , .education h1 {
    font-size: 40px;
    font-family:"Angkor", serif;
    background-color: #95e8d7;
    padding:10px;
    padding-right: 50px; 
   
    
}
.about-content , .education-content {
    width:70%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95e8d7;
    padding:30px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Kanit", sans-serif;
    
    
}
.about-content p , .education-content p{
    font-size: 30px;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .title{
    background-color: #95e8d7 ;
    font-size: 50px;
    padding:20px;
    font-family:"Angkor", serif;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:810px){
    .about-content , .education-content {
        padding-top:0;
        padding-bottom:0;
    }
    
}
@media (max-width:700px){
    .about , .education{
        padding-bottom:50px;
    }

}

@media (max-width:650px){
    .about-content p , .education-content p{
        font-size: 25px;
    }
}